
<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Cartão</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <!--<form  #formCartao="ngForm">-->
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input
                            [(ngModel)]="val"
                            matInput
                            name="id"
                            placeholder="Código do cartão (Min Length: 10, Max Length: 10)"
                            value="">
                        </mat-form-field>
                        <small> </small>
                        <small>
                         </small>
                    </div> 
                </div>
            </div>

            <button 
            mat-raised-button 
            color="primary" 
            (click)="openLoaderPesquisarCartao(val)"
            >Pesquisar Cartão</button>
          
        <!--</form>-->
    </mat-card-content>


</mat-card>



<mat-card class="p-0" *ngIf="conta">
    <mat-card-title class="mat-bg-primary">
             <div class="card-title-text">Dados
             </div>
    </mat-card-title>
     
        <mat-card-content>
            <div class="pb-1">
                <mat-card style="" class="text-center profile-sidebar mb-1 pb-0">
                    <div class=" text-center">
                            <div class="profile-title text-center mb-1">
                                <div class="main-title"> <b>{{conta.client.name}}</b></div>
                                <div class="subtitle mb-05">Nº Conta : <b>{{conta.cod}}</b></div>
                                <div class="subtitle mb-05">Nº Cartão : <b>{{conta.cartao.identificacao}}</b></div>
                                <div class="text-muted"></div>
                                <div class="profile-actions text-center mb-1">
                                  
                                        <table class="table">
                                            <tr *ngFor="let transacao of transactions">
                                                <td>
                                                    <b>{{transacao.tipoTransacaoConta}}</b> - <b>R$ {{transacao.transacao.valor}}</b> - {{transacao.transacao.data | date:"dd/MM/yy - hh:mm:ss a" }}
                                                     <br />
                                                     <b>Saldo</b> : {{transacao.conta.saldo}}
                                                </td>
                                            </tr>
                                        </table>
                                    
                                </div>
                                     <b>Saldo Atual</b> : {{conta.saldo}}
                            </div>
                    </div>
                </mat-card>
            </div>
         </mat-card-content>
</mat-card>


<!--
            <button 
            hidden="{{flag}}" 
            mat-raised-button disabled="{{flag}}" 
            color="primary" 
            [routerLink]="['/contas/extrato/detalhado']"

            >Gerar Extrato</button>-->

           

          

      
     

