.corTransacao{

	color:#069;
}

.corData{
	color:#331a00;
}

.link-transaction{
 text-decoration: underline;}

 .cor-table-transaction-th{
 	color:#1f1f2e;
 	font: bold;
 }

 .seta-style{
 	background-color: #34ace0; color: #fff;
 }