.trans:hover{
  background-color: #fff;
  color:#2C3A47; 
}
.trans{
  color:#2C3A47; 
   background-color: #fff200;
}

.btn-trans{
background-color: #3f51b5;
color:#fff; 
}

.btn-trans:hover{
background-color: #FFF;
color:#2C3A47; 
}