<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Rercarga Cartão</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form  #formCartao="ngForm">
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input
                            [(ngModel)]="val"
                            matInput
                            name="id"
                            placeholder="Código do cartão (Min Length: 10, Max Length: 10)"
                            value="">
                        </mat-form-field>
                        <small> </small>
                        <small>
                         </small>
                    </div> 
                </div>
            </div>

            <button 
            mat-raised-button 
            color="primary" 
            (click)="openLoaderPesquisarCartao(val)"
            >Pesquisar</button>
          
        </form>
    </mat-card-content>


</mat-card>


<mat-card class="p-0" *ngIf="conta">
    <mat-card-title class="mat-bg-primary">
             <div class="card-title-text">Dados
             </div>
    </mat-card-title>
     
        <mat-card-content  >
              <div class="pb-1">
                                        <mat-card style="" class="text-center profile-sidebar mb-1 pb-0">
                                            <div class=" text-center">
                                                <img src="assets/images/{{conta.client.url}}" alt="" width="90" height="90">
                                   <div class="profile-title text-center mb-1">
        <div class="main-title"> <b>{{conta.client.name}}</b></div>
        <div class="subtitle mb-05">Nº Conta : <b>{{conta.cod}}</b></div>
        <div class="subtitle mb-05">Nº Cartão : <b>{{conta.cartao.identificacao}}</b></div>
        <div class="text-muted"></div>
          <div class="profile-actions text-center mb-1">
            <div *ngIf="conta.cartao">
                <button mat-raised-button style="background-color: green; color:#fff;">Cartão Habilitado</button>
            </div>
             <div *ngIf="!conta.cartao">
                <button mat-raised-button style="background-color: red; color:#fff;" >Sem Cartão</button>
            </div>
          
            
          </div>
      </div>
                                            </div>
                                        </mat-card>
                                    </div>
             <div class="pb-1">
                       
                    <div fxLayout="row" fxLayoutWrap="wrap">
                            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                                 <div class="card-title-text">Número do Cartão</div>
                                  <div class="pb-1">
                                      <mat-form-field class="full-width">
                                      <input
                                      [(ngModel)]="conta.cartao.identificacao"
                                      matInput
                                      name="id"
                                      placeholder="id cartao"
                                     value="">
                                     </mat-form-field>
                                     <small> </small>
                                     <small></small>
                                  </div> 
 
                                   <div class="card-title-text">Limite do Cartão</div>
                                   <div class="pb-1">
                                      <mat-form-field class="full-width">
                                      <input
                                      [(ngModel)]="conta.limit"
                                      matInput
                                      name="id"
                                      placeholder="Limite"
                                      value="">
                                      </mat-form-field>
                                      <small> </small>
                                      <small></small>
                                    </div> 


                        </div>
                     
     

               
                       <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1" >
                             <div class="card-title-text">Saldo do Cartão</div>
                             <div class="pb-1">
                                 <mat-form-field class="full-width">
                                    <input
                                    [(ngModel)]="conta.saldo"
                                    matInput
                                    name="id"
                                     placeholder="Saldo"
                                     value="">
                                  </mat-form-field>
                                    <small> </small>
                                    <small></small>
                             </div> 
                      
          
                             <div class="card-title-text">Nome do Cliente</div>
                             <div class="pb-1">
                                 <mat-form-field class="full-width">
                                    <input
                                    [(ngModel)]="conta.client.name"
                                    matInput
                                    name="id"
                                     placeholder="Nome"
                                     value="">
                                  </mat-form-field>
                                    <small> </small>
                                    <small></small>
                             </div> 
                        </div>
                    </div>
                </div>

              <form  #formCartao="ngForm">
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input
                            [(ngModel)]="valor"
                            name="valor"
                            matInput
                            placeholder="Valor da recarga (Min Length: 10, Max Length: 10)"
                            value="">
                        </mat-form-field>
                     
                    </div> 
                        
                </div>
            </div>

            <button 
            mat-raised-button 
            color="primary" 
             (click)="openLoaderCarregarCartao(valor)"
           
            >Carregar Cartão</button>
          
        </form>

        </mat-card-content>
     
</mat-card>
